.contact {
  min-height: var(--main-height);
  background-color: var(--main-bg-color);
  color: var(--font-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top:  var(--padding-top-box);
}

.contact .title {
  font-size: var(--font-title-size);
}

.contact .description {
  font-size: var(--font-secondary-size);
  width: var(--width-description);
}

.contact .name {
  text-align: center;
  font-size: var(--font-title-size);
  margin: 40px 0;
}

.contact div.data-contact {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
}

.social-link {
  color: var(--react-secondary-color-changing);
}

.social-link:hover {
  opacity: 0.6;
  color: var(--react-secondary-color-fix);
}

.contact div.data-contact div.data-email {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact div.data-contact div.data-email .icon {
  font-size: 1.6em;
  margin-right: 20px;
  cursor: pointer;
}
.contact div.data-contact div.data-email .icon:hover {
  opacity: 0.6;
}

.contact div.data-contact div.data-email .mail {
}

.contact div.data-contact div.data-phone {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact div.data-contact div.data-phone .icon {
  font-size: 1.5em;
  margin-right: 20px;
  cursor: pointer;

}
.contact div.data-contact div.data-phone .icon:hover {
  opacity: 0.6;
}

.contact div.data-contact div.data-phone .white {
  margin-right: 20px;
}

.contact div.data-contact div.data-phone .phone {
}

.contact .location-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact .location {
  margin-left: 20px;
  font-size: var(--font-title-size);
}

.contact .location-title svg {
  filter: var(--filter);
}

.contact .google-map {
  margin: 20px 0 60px 0;
  width: 59%;
  height: 70vh;
}

@media screen and (max-width: 1130px) {
  .contact div.data-contact div.data-email .mail {
    display: none;
  }
  .contact div.data-contact div.data-phone .phone {
    display: none;
  }
  .contact div.data-contact {
    justify-content: center;
  }
  .contact div.data-contact {
    width: 60%;
  }
  .contact div.data-contact div.data-email {
    justify-content: center;
    width: 100px;
  }
  .contact div.data-contact div.data-phone {
    justify-content: space-between;
    width: 105px;
  }
  .contact .map {
    width: 100%;
    margin-top: 30px;
  }
  .contact .google-map {
    width: 90%;
    height: 700px;
    margin-bottom: 40px;
  }
  .contact div.data-contact div.data-phone .icon {
    margin-right: 10px;
  }
  .contact div.data-contact div.data-email .icon {
    margin-right: 10px;
  }
  .contact div.data-contact div.data-phone .white {
    margin-right: 10px;
  }
}

@media screen and (max-width: 965px) {
  .contact .description {
    font-size: 1.7em;
    padding: 0 20px;
  }
  .contact .name {
    font-size: 2.4em;
  }
  .contact div.data-contact div.data-email .mail {
    display: none;
  }
  .contact div.data-contact div.data-phone .phone {
    display: none;
  }
  .contact div.data-contact {
    justify-content: center;
  }
  .contact div.data-contact {
    width: 60%;
  }
  .contact div.data-contact div.data-email {
    min-width: 100px;
  }
  .contact div.data-contact div.data-phone {
    min-width: 105px;
    margin-right: 20px;
  }
  .contact .map {
    width: 100%;
    margin-top: 30px;
  }
  .contact .google-map {
    width: 90%;
    height: 450px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 850px) {
  .contact .description {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .contact .description {
    font-size: 1.1em;
  }
  .contact .name {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 400px) {
  .contact .google-map {
    height: 300px;
  }
}
