.form {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.form .column {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.form .comments-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form .comments-column .comments {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.form .comments label {
  width: 100px;
}

.form .comments .textarea {
  height: 319px;
  border-radius: 5px;
  width: 51%;
  outline: none;
  background-color: var(--input-color);
  color: var(--input-font-color);
  padding: 13px;
}

.contact .submit-container {
  width: 57%;
  text-align: start;
  margin-top: 40px;
}

.contact .submit-container .submit {
  width: 12%;
  border: none;
  color: var(--tont-color);
  background-color: var(--react-secondary-color-changing);
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
}

.contact .submit-container .submit:hover {
  background-color: rgb(110, 110, 110);
}

.errorComments {
  color: red;
  text-align: start;
  margin-left: 100px;
}

@media screen and (max-width: 2200px) {
  .form .row {
    display: flex;
    flex-flow: column nowrap;
  }
  .contact .submit-container {
    width: 57%;
  }
}

@media screen and (max-width: 1680px) {
  .contact .submit-container {
    text-align: center;
  }
  .errorComments {
    width: 50%;
  }
}

@media screen and (max-width: 1350px) {
  .contact .submit-container {
    width: 62%;
  }
}

@media screen and (max-width: 1130px) {
  .form {
    flex-flow: column wrap;
  }
  .form .column {
    justify-content: center;
    width: 100%;
    margin-left: -21px;
  }
  .margin {
    align-items: center;
  }
  .form .comments-column {
    width: 100%;
    align-items: center;
  }
  .form  .comments-column  .comments {
    width: 100%;
    justify-content: center;
    margin-left: -38px;
  }
  .form  .comments-column  .comments label {
    width: 86px;
    text-align: start;
  }
  .form  .comments-column  .comments .textarea {
    width: 76.6%;
    margin-left: 4px;
  }
  .contact .submit-container {
    width: 100%;
    text-align: center;
  }
  .contact .submit-container .submit {
    width: 88%;
    padding: 20px 0;
  }
  .errorComments {
    width: 100%;
    text-align: center;
    margin-left: -8px;
  }
  .error {
    width: 100%;
    text-align: center;
    margin-left: 50px;
  }
}

@media screen and (max-width: 1070px) {
  .form .comments .textarea {
    width: 75.6%;
  }

}

@media screen and (max-width: 965px) {
  .form .column {
    margin-left: 0;
  }
  .form .column label {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  .form .comments-column .comments {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
  .form .comments-column .comments label {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  .form .comments-column .comments .textarea {
    width: 85%;
  }
  .contact .submit-container {
    margin-top: 20px;
  }
  .contact .submit-container .submit {
    width: 84.8%;
    margin-left: 6px;
    padding: 20px 0;
  }
  .error {
    margin-left: 0;
  }
  .erroColumn {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .form .comments label {
    font-size: 1.2em;
    text-align: center;
  }

}
