@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

:root {
  --background-input: #eee;
  --background-me: #20232a;
  --general-margin: 3em;
  --padding-top-box: 30px;

  --main-height: 100vh;
  --main-padding: 5em;
  --main-bg-color: #eee;
  --width-description: 50%;

  --font-title-size: 2.2em;
  --font-secondary-size: 1.2em;
  --font-enormous-size: 5em;
  --font-extras-title: 1.1em;
  --font-extras-secondary: 0.9em;
  --input-color: #20232a;
  --input-font-color: white;
  --input-home-bg-color: #949494;
  --font-color: #20232a;
  --react-color: #20232a;
  --react-secondary-color-fix: #5fd5f5;
  --react-secondary-color-changing: #286dd3;
  --react-secondary-color-changing-reverse: #5fd5f5;
  --background-bright-btn: rgba(255, 255, 255, 0.308);

  --opacity: 1;
  --shadow: 0px 0px 25px 2px white;
  --filter: none;
  --filter-fix: invert(100%) sepia(0%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

[data-theme="dark"] {
  --background-input: rgb(124, 124, 124);
  --background-me: #eee;
  --general-padding: 2em;
  --general-margin: 3em;

  --main-bg-color: #333;
  --input-color: white;
  --input-font-color: #20232a;
  --input-home-bg-color: #202020;
  --font-color: white;
  --react-color: #20232a;
  --react-secondary-color-changing: #5fd5f5;
  --react-secondary-color-changing-reverse: #286dd3;
  --background-bright-btn: #fafafa2f;

  --opacity: 0.4;
  --shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.726);
  --filter: invert(100%) sepia(0%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
  --filter-fix: invert(100%) sepia(0%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

html {
  position: relative;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: var(--main-height);
  display: flex;
  flex-direction: column;
  min-height: var(--main-height);
}

p {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  outline: none;
  border: none;
  -webkit-text-fill-color: var(--input-font-color);
  box-shadow: 0 0 0px 1000px var(--input-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}
