.study {
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  border: 1px solid rgba(0, 0, 0, 0.177);
  height: auto;
  max-height: 400px;
  background-color: white;
  padding: 10px;
  align-items: center;
  box-shadow: 3px -2px 100px 1px;
}

.name {
    width: 100%;
    text-align: start;
}

.text-name {
    margin-bottom: 6px;
}

.school {
    margin-bottom: 6px;
    font-size: 0.8em;
}

.study .name .data {
    margin-left: 0;
    font-style: italic;
}
