.counter .hours {
    color: var(--react-text-color-changing);
    font-size: 5em;
    max-height: 200px;
}

.counter .p-hours {
    color: var(--react-text-color-changing);
    font-size: 2em; 
}

.counter .hours.main {
    color: var(--react-text-color-changing);
    margin-left: 0;
    border: none;
  }