.courses {
  text-align: center;
  background-color: var(--background);
  padding-bottom: var(--general-padding);
  min-height: var(--maxh);
}

.courses .right {
  float: right;
  margin: 50px 30px 20px 30px;
}

.courses .left {
  margin: 20px 30px;
  color: var(--color);
}

.courses .left .title-it {
  font-size: 2.2em;
  text-align: start;
  margin-bottom: 5px;
}

.courses .left .description-it {
  text-align: start;
  font-size: 1.3em;
}

.courses .boxes {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 65px;
}

@media screen and (max-width: 1018px) {
  .courses {
    padding: 30px;
  }
}

@media screen and (max-width: 850px) {
  .courses .right {
    float: none;
  }

  .courses .left .title-it {
    text-align: center;
  }

  .courses .left .description-it {
    text-align: center;
  }
}

@media screen and (max-width: 390px) {
  .courses .right {
    font-size: 0.8em;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1968px) {
  .courses .left .description-it {
    font-size: 1.4em;
  }
  .courses .left .title-it {
    font-size: 3em;
  }

  .courses .right {
    font-size: 1.4em;
  }
}