.courses {
  text-align: center;
  background-color: var(--main-bg-color);
  padding-bottom: var(--main-padding);
  min-height: var(--main-height);
  color: var(--font-color);
}

.courses .right {
  float: right;
  margin: 50px 30px 20px 30px;
}

.courses .left {
  margin: 20px 30px;
}

.courses .left .title-it {
  font-size: var(--font-title-size);
  text-align: start;
  margin-bottom: 5px;
}

.courses .left .description-it {
  width: var(--width-description);
  text-align: start;
  font-size: var(--font-secondary-size);
}

.courses .boxes {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 65px;
}

.courses .specificCourse .img {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses .specificCourse .img img {
  width: 80%;
  max-width: 440px;
  max-height: 440px;
  height: 80%;
  background-size: cover;
  margin-bottom: 20px;
}

.courses .specificCourse .info .title{
  font-size: var(--font-title-size);
}

.courses .specificCourse .info .center {
  font-size: var(--font-secondary-size);
}

.courses .specificCourse .info .description {
  font-size: var(--font-extras-size);
  margin-bottom: 30px;
  padding-left: 0;
  list-style-type: none;
}

.courses .specificCourse .info .description .li {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 0.8em;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}

.courses .specificCourse .technologies {
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
}

.courses .specificCourse .technologies .tech {
  margin: 8px 7px;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  border: 3px solid;
  padding: 5px 10px;
  max-height: 35px;
  font-size: 0.7em;
}

@media screen and (max-width: 1018px) {
  .courses {
    padding: 30px;
  }
}

@media screen and (max-width: 850px) {
  .courses .right {
    float: none;
    background-color: transparent;
    margin-top: 0 !important;
  }
  .main {
    padding-top: 0 !important;
  }
  .courses .left .title-it {
    text-align: center;
    margin-bottom: 30px;
  }

  .courses .left .description-it {
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 390px) {
  .courses .right {
    font-size: 0.8em;
    margin-top: 0px;
  }
  
}

@media screen and (min-width: 1968px) {
  .courses .left .description-it {
    font-size: 1.4em;
  }
  .courses .left .title-it {
    font-size: 3em;
  }

  .courses .right {
    font-size: 1.4em;
  }
}
