.box {
  border: 1px solid rgba(0, 0, 0, 0.238);
  display: flex;
  min-height: 150px;
  max-height: 150px;
  width: 22.8vw;
  min-width: 450px;
  margin: 0 0.4% 1% 0.4%;
  box-shadow: black 0px 0px 10px;
  background-color: var(--react-color);
  color: #fff;
  border-radius: 10px;
}

.box .img {
  max-height: 148px;
  max-width: 160px;
  min-height: 148px;
  min-width: 160px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.box .info {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  text-align: start;
}

.box .info .name {
  margin: 0 0 0 6px;
  font-weight: 500;
  font-size: var(--font-extras-title);
}

.box .info .creator {
  margin: 10px 0 0 6px;
  font-weight: 200;
  font-size: var(--font-extras-secondary);
}

.box .info .features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  align-items: center;
  margin-top: 10px;
}

.features .hours {
  padding: 0.1rem 0.5rem;
  color: var(--react-secondary-color-fix);
  font-weight: 500;
  font-size: var(--font-secondary-size);
  letter-spacing: -0.1rem;
  border: 1px solid var(--react-secondary-color-fix);
  border-radius: 20px;
  margin-left: 0.2rem;
}

.features .eye {
  flex-grow: 1;
  text-align: end;
  margin-right: 20px;
  color: #FFF;
  cursor: auto;
}
.hover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.features .eye .border {
  padding: 7px;
  border: 1px solid #000;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.073);
}

.features .eye .white {
  filter: var(--filter-fix);
}

@media screen and (max-width: 1990px) {
  .box {
    width: 32.3%;
  }
}

@media screen and (max-width: 1503px) {
  .box {
    width: 48.8%;
  }
}

@media screen and (max-width: 1028px) {
  .box {
    width: 98.7%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 850px) {
  .box:hover {
    transform: none;
  }
}

@media screen and (max-width: 520px) {
  .box {
    flex-direction: column;
    min-width: 375px;
    max-height: fit-content;
    border-radius: 20px;
    margin-bottom: 40px;
  }

  .box .img {
    min-width: 100%;
    min-height: 300px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .box .info {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .box .info .name {
    width: 100%;
    text-align: center;
    font-size: var(--font-extras-title);
    margin-top: 15px;
    margin-left: 0;
  }

  .box .info .creator {
    width: 100%;
    font-size: var(--font-extras-secondary);
    margin: 15px 0;
  }

  .box .info .data {
    width: 100%;
  }

  .box .info .features {
    width: 100%;
    padding-bottom: 15px;
  }

  .features .hours {
    width: 20%;
    margin-left: 20px;
    margin-bottom: -8px;
    font-size: 1em;
    letter-spacing: 1px;
  }

  .features .eye {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 442px) {
  .box {
    min-width: 250px;
  }
  .features .hours {
    width: 35%;
  }
}

@media screen and (max-width: 390px) {
  .box .img {
    min-width: 100%;
    min-height: 200px;
  }
  .features .hours {
    width: 70%;
  }
  .actions {
    width: 99%;
  }
  .actions .eye {
    margin-right: 0;
  }
}
