.curriculum {
  color: var(--font-color);
  background-color: var(--main-bg-color);
  padding-bottom: var(--main-padding);
  min-height: var(--main-height);
  padding-top: var(--padding-top-box);
}

.cv {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 50px;
}

.curriculum .info {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 80px;
}

.curriculum .info .title {
  font-size: var(--font-title-size);
}

.curriculum .info .description {
  font-size: var(--font-secondary-size);
  width: var(--width-description);
  margin: 0 auto;
}

.cv .tl {
  min-width: 50%;
  text-align: center;
  font-size: var(--font-extras-secondary);
}

.cv .tl .tl-text {
}

.cv .explanation {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  font-size: var(--font-extras-secondary);
  font-weight: lighter;
}

.skills {
  border-top: 1px solid var(--font-color);
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.skills .digital {
  width: 100%;
  padding: 0 50px;
}

.skills .other {
  width: 100%;
  padding: 0 50px;
}

.skills .digital .title {
  width: 90%;
  margin: 20px auto;
  text-align: end;
  font-size: 1.3em;
}

.skills .digital .digital-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.skills .digital .digital-skills .skill {
  display: flex;
  min-width: 100%;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
}

.skills .other .title {
  width: 90%;
  margin: 20px auto;
  text-align: start;
  font-size: 1.3em;
}

.skills .other .digital-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skills .other .digital-skills .skill {
  display: flex;
  min-width: 100%;
  height: 40px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.skills .digital .digital-skills .skill .name {
  margin-right: 20px;
  width: 30%;
  text-align: right;
}

.skills .other .digital-skills .skill .name {
  margin-right: 20px;
  width: 30%;
  text-align: left;
}

@media screen and (max-width: 1750px) {
  .cv .explanation {
    margin-left: 20px;
  }
  .cv .tl {
    margin-left: -50px;
    margin-right: 50px;
  }
  .skill .name {
    width: 50%;
    font-size: 0.9em;
  }
  .cv .explanation .skills .title {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1350px) {
  .cv .explanation {
    width: 50%;
    margin: 0 !important;
  }
  .cv .tl {
    width: 100%;
    margin: 0;
  }
  .skills {
    margin-bottom: 50px;
  }
  .skill .name {
    width: 30%;
    font-size: 0.9em;
  }
  .cv .explanation .skills .title {
    font-size: 1.2em;
  }
  .cv {
    flex-flow: column-reverse wrap;
    align-items: center;
  }
  .skills .digital {
    padding: 0 0;
  }
  .skills .other {
    padding: 0 0;
  }
}

@media screen and (max-width: 850px) {
  .cv .explanation {
    width: 80%;
    margin: 0 !important;
  }
  .curriculum .info {
    margin-bottom: 30px;
  }
  .cv .tl {
    width: 100%;
    margin: 0;
  }
  .skills {
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }
  .skills .digital .title {
    text-align: center;
  }
  .skills .other .title {
    text-align: center;
  }
  .skills .other .digital-skills .skill {
    justify-content: center;
    flex-direction: row;
  }
  .skills .digital .digital-skills .skill {
    justify-content: center;
  }
  .skills .other .digital-skills .skill .name {
    text-align: right;
  }
  .cv .explanation .skills .title {
    font-size: var(--font-secondary-size);
  }
  .cv {
    flex-flow: column-reverse wrap;
    align-items: center;
  }
  .curriculum .info .description {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .cv .explanation {
    width: 90%;
  }
  .skills {
    width: 100%;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 500px) {
  .curriculum .info {
    padding: 0 20px;
  }
  .tl .tl-text {
    font-size: 0.8em;
  }
  .cv .explanation {
    font-size: 1em;
  }
}
