.cv {
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--background);
  padding-bottom: var(--general-padding);
  min-height: var(--maxh);
  padding-top: var(--padding-top-box);
}

.cv .tl {
  color: var(--color);
  min-width: 50%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cv {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 440px) {
  .cv .tl .tl-text {
    font-size: 0.7em;
  }
}