.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--background);
  min-height: var(--maxh);
  padding-top: var(--padding-top-box);
  color: var(--color);
}

.projects .info {
  margin-bottom: 40px;
}

.projects .info .title {

}

.projects .info .description {
  font-size: 1.4em;
}

.projects .project {
  width: 100%;
  display: flex;
}

.projects .project .container {
  min-width: 80%;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  padding: 30px 100px;
  align-items: center;
  justify-content: space-evenly;
}

.projects .project .reverse {
  flex-flow: row-reverse nowrap !important;
  justify-content: flex-end;
}

.projects .project .container .img {
  min-width: 40vw;
  min-height: 40vh;
}

.projects .project .container .info {
  text-align: center;
  margin: 20px 0;
  margin-left: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marginLeft {
  margin-left: 0 !important;
  margin-right: 150px !important;
  padding: 0 !important;
}

.projects .project .container .info .name {
  text-align: center;
  font-size: 2.6em;
  margin-bottom: 10px;
}

.projects .project .container .info .description {
  text-align: center;
  font-size: 1.5em;
}

.projects .project .container .info .link {
  margin: 0 auto;
  width: 250px;
  line-height: 50px;
  margin-top: 30px;
  height: 80px;
  cursor: pointer;
  color: var(--color);
  background-color: var(--react-text-color-changing);
  padding: 15px 50px;
  border-radius: 0;
}
.projects .project .container .info .link:hover {
  opacity: 0.7;
}


@media screen and (max-width: 1300px) {
  .projects .project .container {
    padding: 30px 20px;
  }
  .projects .project .container .info {
    font-size: 0.6em;
  }
  .projects .project .container .info .link {
    width: 140px;
    line-height: 20px;
    max-height: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 1070px) {
  .projects .project .container {
    flex-flow: column wrap !important;
    justify-content: center !important;
    width: 100%;
    margin: 0 auto;
  }
  .projects .project .container .img {
    max-width: 600px;
    max-height: 380px;
    min-width: 600px;
    min-height: 380px;
  }
  .marginLeft {
    padding: 0 !important;
  } 
  .projects .project .container .info {
    width: 90%;
    margin: 20px 0 !important;
  }
}
@media screen and (max-width: 820px) {
  .projects .project .container {
    flex-flow: column wrap !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .projects .project .container .img {
    max-width: 100%;
    max-height: 380px;
    min-width: 100%;
    min-height: 280px;
  }
  .marginLeft {
    padding: 0 !important;
  }
  .projects .project .container .info {
    font-size: 0.5em;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .projects .project .container {
    flex-flow: column wrap !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .projects .project .container .img {
    max-width: 100%;
    max-height: 300px;
    min-width: 100%;
    min-height: 250px;
  }
  .marginLeft {
    padding: 0 !important;
  }
  .projects .project .container .info {
    font-size: 0.5em;
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  .projects .project {
  }
  .projects .project .container {
    flex-flow: column wrap !important;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .projects .project .container .img {
    max-width: 240px;
    max-height: 160px;
    min-width: 240px;
    min-height: 160px;
  }
  .marginLeft {
    padding: 0 !important;
  }
  .projects .project .container .info {
    font-size: 0.5em;
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  .projects .project {
  }
  .projects .info .description {
    font-size: 0.9em;
  }
  .projects .project .container {
    flex-flow: column wrap !important;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .projects .project .container .img {
    max-width: 240px;
    max-height: 160px;
    min-width: 240px;
    min-height: 160px;
  }
  .marginLeft {
    padding: 0 !important;
  }
  .projects .project .container .info {
    font-size: 0.5em;
    padding: 0;
  }
}
