.container {
    height: 100vh;
}

.link {
    text-decoration: none;   
    color: white;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 700px;
    height: 200px;
    line-height: 200px;
    background-color: var(--react-color);
    border-radius: 30px;
    font-size: 1.9em;
}

.link:hover {
    color: var(--react-color);
    background-color: var(--react-text-color);

}
