body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(213, 213, 213);
  position: relative;
  min-height: 100vh;
  padding-bottom: 3.5em;
}

p {
  margin: 0;
}
