.arrows {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 30px;
    padding: 0 15px;
  }
  
  .back .back-link .arrow {
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--react-secondary-color-changing);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
  }
  .back .arrow:hover {
    transform: scale(1.2);
  }

  @media screen and (max-width: 965px) {
    .arrows {
      display: none;
    }
  }