.arrows {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 30px;
    padding: 0 15px;
  }
  
  .back .back-link .arrow {
    color: black;
    width: 30px;
    height: 30px;
    background-color: var(--react-text-color-changing);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }
  .back .arrow:hover {
    transform: scale(1.5);
  }

  @media screen and (max-width: 965px) {
    .arrows {
      display: none;
    }
  }