.footer {
  margin-top: auto;
  color: #FFF;
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--react-color);
  font-size: 0.8em;
}

.footer .social {
  display: flex;
}

.footer .social .icon {
  padding-left: 100px;
}

.footer .social .icon a .white {
  filter: invert(100%) sepia(0%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.footer .social .icon a .opacity:hover {
  opacity: 0.4;
}

.footer .social .icon.m-low {
  padding-left: 50px;
}

.footer .design {
  padding: 10px 100px;
  width: 100%;
  text-align: end;
  font-size: 1.3em;
}

.footer .design .name {
  cursor: pointer;
  color: var(--react-secondary-color-fix);
}

.footer .design .name:hover {
  color: var(--react-secondary-color-fix);
}

.footer .design .a-none {
  text-decoration: none;
}
.footer .design .a-none:hover {
  opacity: 0.5;
}

@media screen and (max-width: 965px) {
  .footer .social .icon {
    padding-left: 50px;
  }
  .footer .social .icon.m-low {
    padding-left: 25px;
  }
  .footer .design {
    padding-right: 50px;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    flex-direction: column;
    height: auto;
  }
  .footer .social .icon {
    padding: 0;
    padding-top: 20px;
  }
  .footer .design {
    text-align: center;
    padding: 20px 0;
  }
}