.header {
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #FFF;
  text-align: right;
  height: 90px;
  background-color: var(--react-color);
  font-size: var(--font-secondary-size);
  font-weight: 500;
  letter-spacing: 1px;
}

.header .div-logo .logo {
  width: 100px;
  height: 50px;
  color: var(--react-secondary-color-fix);
  margin-left: 30px;
}

.header .div-logo .logo:hover {
  opacity: 0.5;
}

.header .navigator {
  flex-grow: 1;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.header .hamburguer {
  display: none;
}

.header .navigator .anchor {
  text-decoration: none;
  margin: 0 30px;
  color: #FFF;
}

.header .navigator .anchor:hover {
  color: var(--react-secondary-color-fix);
}

.header .bright {
  opacity: var(--opacity);
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--background-bright-btn);
  box-shadow: var(--shadow);
  margin-left: 30px;
}

.header button {
  background-color: transparent;
  color: #FFF;
  border: none;
  margin-top: -7px;
}

.header .language {
  margin-left: 50px;
  border: none;
  outline: none;
  color: white;
  background-color: var(--react-color);
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .header {
    font-size: 1.1em;
    font-weight: 400;
  }
  .header .navigator {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1060px) {
  .header {
    font-weight: 400;
  }
  .header .navigator {
    margin-right: 20px;
  }
  .header .navigator .anchor {
    margin: 0 20px;
  }
}

@media screen and (max-width: 965px) {
  .header {
    font-size: 0.8em;
    font-weight: 400;
    justify-content: space-between;
    height: 100px;
  }
  .header .div-logo .logo {
    margin-left: 25px;
    padding-left: 0;
    width: 80px;
    height: 40px;
  }
  .header .navigator {
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    top: 90px;
    width: 100vw;
    background-color: var(--react-color);
    line-height: 50px;
  }
  .header .active {
    height: 60vh;
    pointer-events: auto;
    z-index: 1;
    font-size: 1.5em;
    margin-right: 0;
  }

  .header .hamburguer {
    display: inline;
    margin-right: 40px;
    font-size: 2.3em;
    cursor: pointer;
  }
  .header .hamburguer:hover {
    opacity: 0.6;
  }

  .bright {
    margin: 0 !important;
  }

  .header .language {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 400px) {
  .header .hamburguer {
    margin-right: 25px;
  }
}
