@charset "ISO-8859-1";

@charset "UTF-8";

a {
	text-decoration: none;
	color: white;
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: "Helvetica", "sans-serif";
}

.index {
	background-image: url(/images/background.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.header {
	width: 100%;
	padding: 0.6em;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	color: white;
	background-color: #222222;
}

.header .button {
	display: none;
	background-color: #222222;
	border: none;
	padding: 3%;
}

.header .svg {
	width: 4em;
	height: 4em;
	fill: white;
}

.header .h2 {
	margin-left: 5%;
	font-size: 1.6em;
	font-weight: bold;
}

.header .nav-options .nav-profile {
	width: auto;
}

.header .ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	margin-right: 5%;
}

.header .li {
	width: 150px;
	margin: 1rem 0 0 0;
	font-size: 1.3em;
}

.header .li a {
	text-decoration: none;
	color: white;
}

.container-text {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	flex-direction: row;
	font-size: 4vw;
	position: absolute;
	bottom: -5%;
	left: 4%;
}

.h1 {
	color: rgb(128, 128, 128);
	font-family: "Helvetica", "sans-serif";
	font-size: 3.4em;
}

.comments {
	margin: 4rem 0 0 10em;
	width: 60%;
	display:flex;
	flex-flow: row wrap;
	flex-direction: column;
	justify-content: center;
	align-items:start;

}

.comments label {
	font-size: 1.5rem;
	margin: .5rem;
}

.comments p {
	margin: 2rem 0;
	font-size: 1.5rem;
}

.comments .ul {
	list-style-type: none;
}

@media screen and (max-width:1200px) {
	.header .button {
		display: block;
		cursor: pointer;
	}
	.header .h2 {
		display: none;
	}
	.header .nav {
		overflow: hidden;
		width: 100%;
		height: 0;
		transition: all .5s ease;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}
	.header .nav.activo {
		height: 30vh;
		pointer-events: auto;
	}
	.header .ul {
		flex-direction: column;
		text-align: center;
	}
	.header .li {
		margin: 1rem 0;
	}
}