a {
	text-decoration: none;
	color: white;
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: "Helvetica", "sans-serif";
}

.header {
	width: 100%;
	padding: 0.6em;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	color: white;
	background-color: #222222;
}

.header .button {
	display: none;
	background-color: #222222;
	border: none;
	padding: 3%;
}

.header .svg {
	width: 4em;
	height: 4em;
	fill: white;
}

.header .profile {
	margin-left: 1%; width : 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 40%;
}

.header .profile .img {
	width: 5vh;
	height: 5vh;
}

.header .profile .h2 {
	margin-left: 3%;
	margin-top: 1%; font-size : 1.6em;
	font-weight: bold;
	font-size: 1.6em;
}

.header .nav-options .nav-profile {
	width: auto;
}

.header .ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	margin-right: 5%;
}

.header .li {
	width: 150px;
	margin: 1rem 0 0 0;
	font-size: 1.3em;
}

.header .li a {
	text-decoration: none;
	color: white;
}

.container-text {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	flex-direction: row;
	font-size: 4vw;
	position: absolute;
	bottom: -5%;
	left: 4%;
}

.h1 {
	color: rgb(128, 128, 128);
	font-family: "Helvetica", "sans-serif";
	font-size: 3.4em;
}

.main {
	margin: 5vw 15vw;
	padding: 1.3em;
	display: flex;
	flex-direction: column;
	flex-flow: column wrap;
	align-items: flex-start;
	border: 1px solid black;
}

.main .h2 {
	width: 100%;
	font-size: 1.5rem;
	padding-bottom: 1.5vw;
	border-bottom: 1px solid black;
}

.main .activities {
	
}

.div-preview {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 2vh;
	margin-left: 1vw;
}

.div-preview .preview {
	padding: 12px;
	width: 8vh;
	height: 8vh;
	border: 1px solid #514e4e;
	border-radius: 10px;
}

@media screen and (max-width:900px) {
	.header .button {
		display: block;
		cursor: pointer;
	}
	.header .h2 {
		display: none;
	}
	.header .nav {
		overflow: hidden;
		width: 100%;
		height: 0;
		transition: all .5s ease;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}
	.header .nav.activo {
		height: 30vh;
		pointer-events: auto;
	}
	.header .ul {
		flex-direction: column;
		text-align: center;
	}
	.header .li {
		margin: 1rem 0;
	}
}