<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<title>Página no encontrada</title>
<meta name="robots" content="noindex, follow">
</head>
<body>
 <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Página no econtrada.</p>
                <p class="lead">
                    La páginas que estas buscando no existe.
                  </p>
                <a href="@{/index}" class="btn btn-primary">Página Principal</a>
            </div>
        </div>
</body>
</html>