<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Perfil</title>
</head>
<body>

	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>


	<div>
		<form th:action="@{/addNote}" method="post">
			<textarea name="note" cols="40" rows="2"></textarea>
			<br> <input type="submit" value="Add Note" />
		</form>
	</div>

	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
</body>
</html>